/*
 *= require bootstrap
 */

@import "**/*"
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700)

body, html
  height: 100%

body
  font-family: 'Open Sans', sans-serif

section
  padding: 40px 0

h2
  font-size: 39px
  letter-spacing: 3px
  color: $orange
  text-transform: uppercase
  text-align: center
  font-weight: bold

.btn-primary
  border-color: darken($orange, 5%)
  background-color: $orange
  &:hover, &:focus, &:active
    border-color: darken($orange, 10%)!important
    background-color: darken($orange, 5%)!important

.haut_patronage
  line-height: 13px
  font-size: 11px
  text-align: center
