footer#footer
  .container
    p Le PEJ-France est une association non-partisane d’éducation à la citoyenneté européenne, association loi 1901 d’intérêt général agréée Jeunesse et Éducation Populaire et Complémentaire de l’Enseignement public.
