= partial 'partials/modal'
= partial 'partials/header'
= partial 'partials/nav'
= partial 'partials/session'
= partial 'partials/counters'
= partial 'partials/partners'
= partial 'partials/contact'
= partial 'partials/footer'
