#contact
  border: 1px solid

  .info
    text-align: justify

  .social
    text-align: center

    h3
      font-size: 1.3em
      margin-bottom: 10px

    .link
      padding: 0 7px
      font-size: 1.1em
      color: $orange


  .info-block
    text-align: center
    font-weight: lighter

  .info-block h3
    font-size: 12px
    margin-bottom: 15px

  .info-block img, .info-block a
    display: inline-block

  .info-block span
    margin: 0 7px
