nav.navbar-default
  background-color: white
  border-color: transparent
  height: 70px
  .container
    .navbar-header
      button
        border-color: transparent!important
        padding: 19px 15px
        span
          background-color: $gray_2
        &:hover,&:active,&:focus
          background-color: transparent
          span
            background: $orange
      a.navbar-brand
        .logo-menu
          height: 40px
          cursor: pointer
    .navbar-collapse
      background-color: #fff
      position: relative
      padding: 0!important
      @media (min-width: 768px)
        position: static
        height: 70px
      ul.nav.navbar.navbar-right
        @media (min-width: 768px)
          margin: 0
          padding: 14px 0
        li
          text-align: right
          @media (min-width: 768px)
            display: inline-block
          a
            text-transform: uppercase
            color: $gray_2
            &:hover, &:focus
              background-color: transparent
              color: $orange
